.layui-icon {
    margin: 0 5px;
    font-size: 16px;
}

.layui-icon-app {
    margin-left: 20px;
}

/* 头像处理 */
.userinfo {
    height: 60px;
    line-height: 60px;
    text-align: center;
}

/* 文字头像 */
.text-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #419488;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
}

/* 默认让两个头像都隐藏 */
.text-avatar, .layui-nav-img {
    display: none;
}